<app-menu></app-menu>
<div style="display: flex; justify-content: center; align-items: center; z-index: 0">
  <img id="avatar" src="../../../assets/images/Avatar_Vlad.jpg" alt="Avatar">
</div>

<br>
<div style="display: flex; justify-content: center; align-items: center; font-size: 30px; font-weight: bold; z-index: 0">
  <p id="name">Name: no name</p>
</div>

<div style="display: flex; justify-content: center; align-items: center; z-index: 0">
  <p id="level">Level: x</p>
  <p id="points">Points: y</p>
</div>

<div style="display: flex; justify-content: center; align-items: center; font-size: 2.75vh; z-index: 0">
  <div id="stats">
    <p>Distance: a km</p>
    <p>Points: b</p>
    <p>Economy: $c</p>
    <p>Reduced CO2 emissions: d</p>
  </div>
</div>
