<app-menu></app-menu>
<div id="mainDiv">
  <h1 style="display: flex; justify-content: center">Leaderboard</h1>

  <div id="people">
    <p-table [tableStyle]="{ 'min-width': '50rem' }" [value]="people">
      <ng-template pTemplate="header">
        <tr>
          <th style="text-align: center;">Name</th>
          <th style="text-align: center;">Score</th>
        </tr>
      </ng-template>
      <ng-template let-people pTemplate="body">
        <tr>
          <td style="text-align: center;">{{ people.name }}</td>
          <td style="text-align: center;">{{ people.score }}</td>
        </tr>
      </ng-template>
    </p-table>

  </div>

</div>
